body {
    background-color: #000000;
    margin: 0;
    font-family:'Courier New', Courier, monospace;
}

#particles-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    background-color: #0d0d0d; 
}

footer {
    text-align: center; 
    padding: 20px; 
    font-family: Arial, sans-serif; 
    font-size: 14px; 
    color: white; 
}

nav {
    padding: 30px 20px;
    top: 0;
    z-index: 10;
}

nav ul {
    list-style: none;
    display: flex; 
    justify-content: center; 
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 22px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f5f5f5; /
}

#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 12px;
    margin-bottom: 100px;
}

.texto-home {
    margin-top: 100px;
    flex: 1;
    max-width: 45%;
    color: white;
    font-size: 30px;
}

.texto-home span {
    color: #f5f5f5;
}

.foto img {
    width: 270px;
    height: 270px ;   
    position: relative;
    border-radius: 50%;
    z-index: 2;
    display: block;
    object-fit: cover; 
    transform: translateY(60px);
    margin-right: 80px;
}

/*SOBRE MIM*/
#sobre {
    padding: 75px 30px;
    color: white;
}

#sobre p {
    font-size: 20px;
}

#sobre h2 {
    color: #f5f5f5;
    font-size: 30px;
    text-align: center;
    padding: 20px 0;
}

.linguagens-container {
    margin-top: 40px;
    text-align: center;
}

.linguagens {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center;
    margin-top: 20px;
}

.linguagem {
    background-color: #f5f5f5; 
    border-radius: 12px;
    padding: 15px;
    width: 100px; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.linguagem:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.linguagem .icon {
    width: 50px; 
    height: 50px;
    margin-bottom: 10px; 
}

.linguagem span {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

.conquintas-container {
    margin-top: 40px;
    text-align: center;
}

.conquista {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center;
    margin-top: 20px;
}

.conquistas {
    background-color: #f5f5f5; 
    border-radius: 12px;
    padding: 15px;
    width: 200px; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.conquistas:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.conquistas .icon {
    width: 110px; 
    height: 100px;
    margin-bottom: 10px; 
}

.conquistas .icon2 {
    width: 150px; 
    height: 100px;
    margin-bottom: 10px; 
}

.conquistas span {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

/*MODAL*/
.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

#caption {
    text-align: center;
    color: #ccc;
    margin-top: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.img-container {
    position: relative;
    display: inline-block;
}

.img-container::after {
    content: "Visualizar";
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0,0,0,0.7);
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.img-container:hover::after {
    opacity: 1;
}

/*PROJETOS*/
#projetos h2 {
    color: #f5f5f5;
    text-align: center;
    font-size: 30px;
    padding: 40px 10px;
    font-weight: bold;
}

.proje {
    display: flex;
    align-items: center; 
    gap: 20px; 
    background-color: #f5f5f5;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 900px; 
    width: 90%; 
}

.proje img {
    width: 500px; 
    height: auto; 
    object-fit: cover; 
    border-radius: 10px;
}

.proje-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    flex: 1; 
}

.proje h3 {
    margin: 0 0 10px;
    color: #5c2165;
    font-size: 23px;
    font-weight: bold;
}

.proje p {
    margin: 5px 0;
    font-weight: bold;
}

.proje a {
    margin-top: 10px;
    color: #5c2165;
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
}

.proje a:hover {
    text-decoration: underline;
}

/*CONTATO*/
#contato {
  padding: 60px 10px;
  text-align: center;
  color: #f5f5f5;
  font-size: 20px;
}

#contato .links ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 40px;
}

#contato .links li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

#contato .links li a:hover {
  transform: scale(1.1);
}

#contato .links img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(57, 4, 38, 0.2);
}